@CHARSET "UTF-8";
.action-menu
{
	margin-bottom:10px;
}
.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}
input [name="Wiedervorlage[status]"]
{
	width:80px;
}
.comment-content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}
.absage
{
	background-color: #d8bac8;
}
.offen
{
	background-color:#d3edc7;
}
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  }
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:inherit;
  }
}

.affix,.affix-top {
   position:static;
}
.addLocationRow {
	margin-left:140px;
	margin-top:10px;
	margin-bottom:20px;
}
.seen {
    padding-top:10px;
    padding-bottom: 10px;
     border-top: 1px solid #E4EAED;
     padding-left: 10px;
}
.not-seen {
    background-color: #DFEDF5;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top: 1px solid #E4EAED;
}